*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*/*/*/*/*CSS for Header*/
header{
	background: url(../images/bg.jpg);
	height: 110vh;
	background-size: 100% 100%;
	background-position: center;
}
nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav, #WindowsBtn{
		position: sticky;
		top: 0;
}
ul{
	display: flex;
	list-style-type: none;
}
ul li{
	margin: 10px;
}
/*End of CSS for Header*/
/*Styling for all buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}
.btn-product{
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;

}
#windowsBtn{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: 2s;
}
#windowsBtn:hover{
	top: 10px;
}
/*Disappearing Menu CSS*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}
.submenu > div{
	width: 25%;
}
div + div{
	border-left: 1px solid whitesmoke;
}
/*div > h4, p{
	margin: 10px;
}*/
div > p:hover{
	background-color: darkgray;
}
#Mega-menu:hover > .submenu/*, #Mega-menu > .submenu:hover*/{
	visibility: visible;
}
.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}
.submenu > div > p:hover{
	background-color: darkgray;
}
.header-text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}
.header-text > h1{
	font-size: 70px;
}
.header-text > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
}
.header-text > h1, .header-text > p, .header-text > button{
	margin-left: 50px;
}
.header-text > div > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
}
/*end css for header*/

/*start of code for quote css*/
.quote{
	height: 40vh;
	border-bottom: 1px solid whitesmoke;
display: flex;
justify-content: center;
align-items: center;
}

.quote > div{
	width: 30%;
}
.quote > div > div{
	margin-top: 20px;
	text-align: center;
}
/*activity*/
.page{
	display: flex;
	height: 100vh;
}
.page > .left{
	align-items: center;
	justify-content: center;
}
.page > .left > div{
	align-items: center;
	justify-content: center;
	height: 65vh;
	width: 90%;
	margin-left: 50px;
}
.page > .left, .page .right{
	display: flex;
	width: 50%;

}
.page > .left > div >img{
	height: 65vh;
	width: 100%;
	border-radius: 10px;
}
.page > .right{
	align-items: center;
	justify-content: center;
}
.page > .right > .top{
	height: 65vh;
	width: 90%;
}
.top > div > div > .digit1{
	font-size: 60px;
	margin-top: 20px;
}
.digit1 > .x{
	position: relative;
	bottom: 35px;
	right: 1px;
	font-size: 30px;
}
#rightsep{
	display: flex;
}
#onesub{
	margin: 15px;
}
#twosub{
	margin: 15px;
}

/*Start of actlast*/
.actlast{
	height: 100vh;
}
.actlast > .wew{
	height: 30vh;
/*	border: 1px solid black;*/
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.actlast > div > .acttop{
	text-align: center;
	height: 10vh;
/*	border: 1px solid black;*/
}
.bottompart{
	display: flex;
	height: 70vh;
/*	border: 1px solid black;*/
	align-items: center;
	justify-content: center;

}
.bottompart > .center{
	display: flex;
	width: 80%;
	height: 80%;
	justify-content: space-around;

}
.imagecon1{
	height: 40vh;
	width: 40vh;
	border: 1px solid gray;
	text-align: center;
	flex-direction: column;
}
.imagecon1 > p{
	margin: 30px;
}
.imagecon1 > hr{
	position: relative;
	top: 38px;
	z-index: -1;
}
.imagecon1 > div > img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.imagecon1 > div{
	text-align: center;

}

/*imagecon3*/
.imagecon3{
	height: 40vh;
	width: 40vh;
	border: 1px solid gray;
	text-align: center;
	flex-direction: column;
}
.imagecon3 > p{
	margin: 30px;
}
.imagecon3 > hr{
	position: relative;
	top: 38px;
	z-index: -1;
}
.imagecon3 > div > img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.imagecon3 > div{
	text-align: center;
}